li{
    font-weight: bolder !important;
    width:288px;
}

#logout:hover
{
    color: red;
    border-color: red;
    font-weight: bold ;
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding-right: 3.5rem;
}
