#nav98{
    margin-top: 21px;
    font-weight: bold;

}
li{
    font-weight: bolder !important;

}
.nav-item{
    padding-right:5% !important;

}
.btn.btn-dark{
    min-width:118px;
    max-width:118px;
    align-content: center;
    font-weight: bold;
}


#logout:hover
{
    background-color: red;
    border-color: red;
    font-weight: bold ;
}