html{
    scroll-behavior: smooth;
}
#body {
    background-color: rgb(182, 240, 230);
}

nav{
    padding-bottom: 5%;
}
li{
    margin-right: 5%;
 }

 #card{
    margin-bottom:5%;
 }
 #layout {
    float: left;
    /* width: 40%;
    height: 50%; */
    margin: 5%;

}



div div div .dropdown-item:hover {
    background: rgb(255, 255, 193);
    cursor: pointer;
    font-weight: bold
}

div div .dropdown-item:hover {
    background: rgb(255, 255, 193);

    cursor: pointer;
    display: block;
    font-weight: bold
}
