#dep_test{
    float:left;
    width:  5%;
    height: 5%;
    margin:5%;

  }

  #sec_style{
    float:left;
    width: 5%;
    height:5%;
    margin:5%;
   }

#body{
     background-color: rgb(240, 236, 200);
 }
