li{
    font-weight: bolder !important;
    width:235px;
}
 
li a {
    width:279.5px;
}

li:last-child a {
    width:240.5px;
}



/* .navbar{
    height:42px;
} */

#logout:hover
{
    color: red;
    border-color: red;
    font-weight: bold ;
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding-right: 7.0rem;
}


#announcement
{
    background-color:#FFDF01;
    margin:1%;
    text-align: center; 
    font-weight: bold;
    margin: 0;
    padding: 0.5%
}